
/*Proprietà globali della pagina */
body {
    font-family: Raleway, serif;
    overflow-x: hidden;
    width: 100%;
    line-height: 1.2;
}
body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow-y: hidden;
}
.sezioneTotale{
    overflow: hidden;
    height: 100vh;
}
.dropdown-item {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/*Proprietà scrollbar */
/* Larghezza della scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
/* Traccia della scrollbar */
::-webkit-scrollbar-track {
    background: #888;
}
/* Cursore della Scrollbar */
::-webkit-scrollbar-thumb {
    background: rgba(255,138,0,1);
}


/*Proprietà barra navigazione */
.navbar-expand-sm{
    height: 65px;
    padding: 0;
}
/*Proprità barra ricerca*/
#barra-ricerca {
    border-radius: 0;
    border-color: transparent;
}
.demo-ricerca{
    height:auto;
}
#barra-ricerca:focus {
    box-shadow: 0 0;
    border-color: #eaece5;
}
#barra-ricerca:focus {
    border: 0;
    border-bottom: 1px solid  #5CA5FF;
    outline:none;
}
input, #barra-ricerca {
    border: 0;
    border-bottom: 2px solid rgba(0, 114, 255, 0.43);
    line-height: 2em;
    background: transparent;
    color: cornsilk;
    width: 30vw;
    padding: 0;
    font-size: calc(0.4rem + 1vw);
}

/*proprietà pulsante cerca*/
#pulsante-cerca {
    border-radius: 0;
    border-color: transparent;
    margin-top: 5px;
    font-size: 20px;
    background: transparent;
    color: rgba(0, 114, 255, 0.43);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/*proprietà pulsante Logout*/
#pulsante-Logout{
    width: 35%;
    overflow: hidden;
    float: right;
    background-color: transparent;
}
#pulsante-Logout:hover{
    background-color: rgba(0, 114, 255, 0.72);
}

/*Proprità menù orizzontale */
#menu-orizzontale{
    display: none;
    padding: 0;
    height: 50px;
}
.amici-online{
    height: 58vh;
    padding-right:8px;
    overflow-y: hidden;
}
.pulsante-menu-orizzontale{
    background-color: transparent;
    width: auto;
    color: cornsilk;
    font-size: calc(0.8rem + 1vw);
}
.pulsante-menu-orizzontale:focus {
    box-shadow: 0 0;
}
#profilo:hover, #gest-amicizie:hover, #amici-online:hover, #altro:hover {
    background-color: transparent;
    box-shadow: 0 0;
    color: #5CA5FF;
}

/*Proprietà sezione centrale */
.sezioneCentrale{
    height: calc(100vh - 165px);
}
.row-sezioneCentrale{
    height: 100%;
}
button{
    background-color: rgb(191, 193, 192);
    color: #fef9ff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway, serif;
    cursor: pointer;
}
button:hover{
    background-color: rgba(255,138,0,1);
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:focus {
    outline:0;
}
.pulsanteA{
    box-shadow: none;
    background-color: #464B51;
    width: 100%;
    color: cornsilk;
    font-size: calc(0.5em + 0.5vw);
    border: 0;
    -webkit-box-shadow: none
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.activeButton{
    background-color: rgba(255,138,0,1);
}

/*Proprietà colonna sinistra e colonna destra */
#colonna-sinistra, #colonna-destra {
    display: none;
    padding-left: 0;
    padding-right: 0;
    width: 16.6667%;
    opacity: 0.80;
    overflow: hidden;
}
#colonna-sinistra{
    position: sticky;
    top: 0;
    left: 0;
    height: calc(100vh - 165px);
    background-color: #464B51;
    opacity: 0.70;
}
/*Proprietà tasti Generi*/
#tasto-Rock:focus, #tasto-Pop:focus, #tasto-Country:focus, #tasto-Funky:focus, #tasto-Jazz:focus, #tasto-Rap:focus{
    color: cornsilk;
}
#tasto-Rock:hover, #tasto-Pop:hover, #tasto-Country:hover, #tasto-Funky:hover, #tasto-Jazz:hover, #tasto-Rap:hover{
    background-color: #5CA5FF;
}
#colonna-destra {
    position: sticky;
    top: 0;
    right: 0;
    height: calc(100vh - 165px);
    background-color: #464B51;
}

/*Proprietà colonna centrale */
#colonna-centrale {
    margin: auto;
    background-color: transparent;
    width: 66.6667%;
    z-index: 0;
}

/*Proprietà del titolo di tutti i pannelli principali*/
.titolo-pannelli{
    font-size: calc(1rem + 1vw);
}

/*Proprietà pannello-mobile*/
#pannello-mobile{
    position: absolute;
    right: 0;
    width: 35%;
    height: calc(100vh - 215px);
    background-color: rgb(11, 55, 116);
    display: none;
    z-index:1;
}
.listaGeneri.show{
    display: block;
    height: 35%;
    overflow-y: auto;
    font-size: calc(0.4rem + 1vw);
}
/*Proprietà bottoni pannello-mobile*/
.btn-mobile{
    width: 100%;
    color: cornsilk;
    font-size: calc(0.4rem + 1vw);
    background: #0b3774;
    text-align: center;
}

/*Proprietà pannelo-amicizie-mobile*/
#pannello-Amicizie-mobile{
    overflow: hidden;
    height: 68.5vh;
    display: none;
    width: 100%;
}
.demo-mobile{
    max-height: 70vh;
}
.demo-mobile>.p_listaAmici{
    padding-left: 5px;
    overflow: hidden;
    clear:left;
}
.demo-mobile>.p_listaAmici>.nomeUtente_online{
    padding-left: 5px;
    text-align: left;
    width: 40%;
    float: left;
    box-sizing: border-box;
}
.demo-mobile>.p_listaAmici>.branoAscoltato{
    text-align: center;
    width: 60%;
    float: left;
    box-sizing: border-box;
}
#pannello-Amicizie-mobile >.row >.col-md-12 >.demo.demo-mobile{
    height: calc(100vh - 215px);
}
.col-sx-sec{
    text-align: right;
}
.col-dx-sec{
    text-align: left;
}
.container-intestazione-amicizie-mobile{
    text-align: center;
    height: 20%;
    padding-top: 5%;
}
.container-listaAmici-mobile{
    height: 80%;
    overflow: auto;
}
.paragrafo-amicizie-mobile{
    font-size: calc(1rem + 1vw);
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
    margin: 0;
}

/*Pannello Generi*/
#pannello-Generi{
    height: calc(100vh - 165px);
    display: none;
    overflow: hidden;
}

/*Proprietà pannello generi*/
#contenitore-genere{
    height: calc(100% - 60px);
}
.titolo-listaBrani-genere{
    padding-top: 2%;
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
    height:60px;
}
.intestazione-listaBrani-genere{
    color: cornsilk;
    margin: 0;
    height: 50px;
}
.nomeCanzone-genere{
    text-align: left;
    width: 30%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.nomeArtista-genere{
    text-align: left;
    width: 30%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.nomeStato-genere{
    text-align: left;
    width: 40%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.p_genere{
    color: cornsilk;
    margin: 0;
}
#contenitore-listaBrani-genere {
    overflow-y: auto;
    height: calc(100% - 50px);

    padding: 0 15px;
}
.listaGenere{
    font-size: 0.8rem;
    width: 100%;
    color: cornsilk;
}
.imgCover{
    width: 15%;
    padding: 10px 0;
}
.nomeArtista_genere{
    width: 30%;
}
.nomeCanzone_genere{
    overflow: hidden;
    width: 30%;
}
.container-icona-play-gen{
    text-align: center;
    width: 10%;
    padding: 12px 0;
}
.icona-play-gen:hover,.icona-aggiungi-Aplaylist-gen:hover{
    color: rgba(255,138,0,1);
}
.container-icona-aggiungi-playlist-gen{
    text-align: center;
    width: 10%;
    padding: 12px 0;
}
.cover{
    width: calc(2rem + 1vw);
}
.genere {
    overflow: hidden;
    border-bottom: 1px solid #5CA5FF;
}
.genere:hover{
    font-weight: bold;
}
.genere > * {
    vertical-align: middle;
}


/*Pannello Brani in riproduzione*/
#pannello-BraniRiproduzione{
    height: calc(100vh - 165px);
    display: none;
}
/*Proprietà pannello brani in riproduzione*/
#contenitore-produzione{
    height:100%;
}
.InRiproduzione:hover{
    font-weight: bold;
}
.titolo-listaBrani-produzione{
    padding-top: 2%;
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
    height:60px;
}
#contenitore-braniInRiproduzione{
    height: calc(100% - 60px);
}
.messaggio-riproduzione{
    margin:auto;
    color:cornsilk;
    font-size: calc(0.7rem + 0.5vw);
}
.intestazione-listaBrani-prod{
    color: cornsilk;
    margin: 0;
    height: 50px;
}
.nomeCanzone-prod{
    overflow:hidden;
    text-align: left;
    width: 35%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.nomeArtista-prod{
    text-align: left;
    width: 35%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.nomeDurata-prod{
    text-align: left;
    width: 30%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    padding:12px;
    margin:0;
    border-bottom: 2px solid #5CA5FF;
}
.p_prod{
    color: cornsilk;
    margin: 0;
}
#contenitore-listaBrani-produzione{
    overflow-y: auto;
    height: calc(100% - 50px);
    padding: 0 15px;
}
.listaRiproduzione{
    font-size: 0.8rem;
    width: 100%;
    color: cornsilk;
}
.nomeStato_prod{
    width: 20%;
}
.nomeArtista_prod{
    width: 35%;
}
.nomeCanzone_prod{
    width: 35%;
}
.container-icona-play{
    text-align: center;
    width: 5%;
    box-sizing: border-box;
    padding: 12px 0;
}
.icona-play-prod:hover{
    color: rgba(255,138,0,1);
}


/*Pannello contenente i risultati di ricerca */
.nomeAlbumRicerca{
    font-size: calc(0.5rem + 0.5vw)
}
#pannello-Ricerca{
    display: none;
    height: calc(100vh - 165px);
    overflow: hidden;
}
/*Proprità pannello di ricerca */
.paragrafo-risultati{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
.elenco-canzone-Autore{
    font-size:0.8rem;
}
.btn-pannelloRicerca{
    float: right;
}
btn-conzoni-ricerca{
    background: transparent;
}
#contenitore-ricerca{
    height: calc(100vh - 165px);
    overflow-y: auto;
}
#contenitore-lista-ricerca{
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 110px);
    margin: 0;
}
.nomeCanzone{
    text-align: left;
    width: 40%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding: 12px;
    margin: 0;
}
.nomeArtista{
    text-align: left;
    width: 60%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding: 12px;
    margin: 0;
}
.p_ricerca{
    color: cornsilk;
    margin: 0;
}
.datiCanzoni{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
.contenitore-imgBrano-esterno{
    width: 30%;
}
.contenitore-imgBrano-interno{
    position: relative;
    width: calc(7rem + 3vw);
}
.contenitore-nomeCanzone-Artista{
    width: 60%;
}
.contenitore-icona-aggiungi-playlist{
    text-align: center;
    width: 10%;
    box-sizing: border-box;
}
.coverBrano{
    width: 100%;
}
.li-lista-brani:hover .play-brano{
    opacity: 0.9;
    color: cornsilk;
}
.li-lista-brani:hover{
    font-weight: bold;
}
.play-brano{
    opacity: 0;
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.play-brano:hover{
    opacity: 1;
}
.li-lista-brani{
    font-size: calc(0.7rem + 0.5vw);
}
.listaRicerca{
    font-size: 0.8rem;
    width: 100%;
}
.titolo-listaRicerca{
    font-size: calc(0.7rem + 1vw);
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
    height: 45px;
}
#contenitore-lista-ricerca-album{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.messaggio{
    margin: auto;
    font-size: calc(0.25rem + 1vw);
    padding: 20px 0;
    color: cornsilk;
    text-align: center;
}
.icona-aggiungi-Aplaylist:hover{
    color: rgba(255,138,0,1);
    cursor: pointer;
}


/*Pannello Album*/
#pannello-Album{
    display: none;
    height: calc(100vh - 165px);
    overflow: hidden;
}
/*Proprietà pannello Album*/
.flex-container-Album{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}
.flex-item-Album{
    width: calc(7rem + 3vw);
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-top: 1vh;
    margin-left: 1vw;
}
.contenitore-nomeAlbum{
    position: relative;
    transform: translate(0,25%);
    height: 50px;
    width: 100%;
    text-align: center;
}
.nomeAlbum{
    color: cornsilk;
    font-size: calc(0.2rem + 1vw);
}
#contenitore-canzoni-album{
    height: calc(65% - 30px);
}
#contenitore-paragrafo-Album{
    height: 20%;
}
.paragrafo-album{
    font-size: calc(0.8rem + 1vw);
    text-align: center ;
    margin-top: 30px;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
}
#contenitore-lista-Album{
    height: 80%;
    overflow-y: auto;
}
.li_listaAlbum{
    font-size: calc(0.7rem + 0.5vw);
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    clear:left;
}
.li_listaAlbum:hover{
    font-weight: bold;
}
.ordine-Album{
    width: 10%;
    float: left;
    box-sizing: border-box;
}
.p_Album{
    color: cornsilk;
    margin-top: 15px;
}
.canzone-album{
    width: 40%;
    float: left;
    box-sizing: border-box;
    overflow-x: hidden;
}
.autore-album{
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
}
.btn-album{
    float: right;
}
.btn-canzoni-album{
    background: transparent;
    color: #007bff;
    box-shadow: none!important;
}


/*Proprietà pannnelo-playlist*/
#pannello-Playlist{
    display: none;
    height: calc(100vh - 165px);
    overflow-y: hidden;
}
.container-playlist:hover{
    cursor:pointer;
}
.icona-eliminaPlaylist{
    color: #007bff;
    float:right;
    padding-right: 10px;
}
.icona-eliminaPlaylist:hover{
    color: #6ca8fb;
    cursor:pointer;
}
#contenitore-canzoni-playlist{
    height: calc(65% - 30px);

}
#contenitore-lista-playlist{
    height: 80%;
    overflow-y: auto;
}
#contenitore-paragrafo{
    height: 20%;
}
.paragrafo-playlist{
    font-size: calc(1rem + 1vw);
    text-align: center ;
    margin-top: 30px;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
}
.btn-canzoni-playlist{
    background: transparent;
    box-shadow: none!important;
    color: #007bff;
}
.btn-playlist{
    float: right;
}
.canzone{
    width: 40%;
    float: left;
    box-sizing: border-box;
}
.autore{
    width: 30%;
    float: left;
    box-sizing: border-box;
}
.nomePlaylist{
    color: cornsilk;
    font-size: calc(0.25rem + 1vw);
}
.contenitore-nomePlaylist{
    overflow-wrap: break-word;
    position: relative;
    transform: translate(0,25%);
    height: 60px;
    padding: 0 10px;
    padding-top: 12%;
}
/*Proprità flex box*/
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
}
.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.flex-item{
    margin-top: 1vh;
    margin-left: 1vw;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.flex-item-img{
    width: 100%;
    display: block;
}
.flex-item-img:hover{
    opacity: 0.3;
}
.icona-playlist{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.icona-aggiungi-playlist{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.icon{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.flex-item:not(:hover) .flex-item-conteiner {
    opacity: 0.7;
}
fa-paly:hover {
    color: transparent;
}
.flex-item-conteiner{
    text-align: center;
    border-radius: 15%;
    width: calc(7rem + 3vw);
    display: block;
    background-color: rgba(65, 69, 74, 0.53);
    cursor: pointer
}
.flex-item-conteiner-icon{
    font-size: 0px;
    position: relative;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgba(255,138,0,1);
    transform: translate(0%,25%);
    margin: auto;
}
.li_listaPlaylist{
    font-size: calc(0.7rem + 0.5vw);
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    clear:left;
}
.li_listaPlaylist:hover{
    font-weight: bold;
}
.ordine-playlist{
    width: 10%;
    float: left;
    box-sizing: border-box;
}
.p_playList{
    color: cornsilk;
    margin-top: 15px;
}


/*Proprietà pannello amicizie*/
#pannello-Amicizie{
    overflow-y: hidden;
    display: none;
    background-color: transparent;
    height: calc(100vh - 165px);
}
/*Proprietà lista amici*/
.intestazione-listaAmici{
    font-size: calc(0.4rem + 1vw);
    color:cornsilk;
    margin: 0;
    height: 50px;
}
#contenitore-lista-amici{
    height: calc(100% - 50px);
    overflow-y: auto;
    padding: 0 15px;
}
#contenitore-btnAmici{
    height: 50px;
}
#contenitore-amicizie{
    height: calc(100% - 90px);
}
.titolo-listaAmici{
    text-align: center;
    font-size: calc(1rem + 1vw);
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
    height: 40px;
}
.nomeAmici{
    text-align: left;
    width: 30%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.col-amicizie{
    height: 100%;
}
.cognomeAmici{
    text-align: left;
    width: 30%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.nomeUtenteAmici{
    text-align: left;
    width: 40%;
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #5CA5FF;
    padding:12px;
    margin:0;
}
.listaAmici{
    font-size: calc(0.25rem + 1vw);
    width: 100%;
}
.datiAmico{
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: .75rem;
    border-bottom: 1px solid #5CA5FF;
}
.container-icona-rimuovi-amico{
    text-align: center;
    width: 10%;
    float: left;
    box-sizing: border-box;
}
.icona-rimuovi-amico:hover{
    color: rgba(255,138,0,1);
    cursor: pointer;
}
#pulsante-aggiungiAmici{
    box-shadow: none;
    width: 30%;
    font-size: 0.8rem;
    margin-top: 1vh;
}


/*Proprietà pannello lista Amici online modalità desktop*/
.pallino{
    color: #03d838;
    font-size: 10px;
}
.p_listaAmici{
    margin-bottom: 16px;
    color:cornsilk;
    font-size:1.1vw;
    text-align: center;
    border-bottom: 1px solid rgba(0, 114, 255, 0.72);
}
.conteiner-listaAmici{
    padding-right: 5px;
    overflow-y: auto;
    max-height: 53vh;
}
ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sta-ascoltando{
    width:100%;
    display: block;
    top:30px;
    color: rgba(255,138,0,1);
    margin-bottom: 0.5rem;
    overflow: hidden;
}
.icona-musica{
    padding: 1.5% 2% 0% 0%;
}
p.paragrafo{
    font-size: 1.4vw;
    text-align: center ;
    margin-top: 3vh;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
    margin: 12px 0;
}


/*Proprietà del player*/
#sezione-controlli-riproduzione {
    width: 100vw;
    bottom: 0;
    left:0;
    height: 100px;
}
#sezione-controlli-riproduzione > .row{
    margin-left: 0;
    margin-right: 0;
}
#sezione-controlli-riproduzione > .row {
    position: relative;
    font-size: 100%;
}
#sezione-controlli-riproduzione {
    background-color:  rgba(0, 114, 255, 0.43);
    color: cornsilk;
    text-align: center;
}
#colonna-sezione-controlli-riproduzione{
    padding: 0;
}
#riga-slider > .slider-horizontal{
    display: inline-block;
    vertical-align: middle;
}
.contenitore-slider{
    height: 40px;
}
.intestazione-titolo-brano{
    height: 30px;
}
.contenitore-tasi-riproduzione{
    height: 30px;
}
#titolo-brano-in-riproduzione > p:first-child {
    margin: 0;
    font-size: 2vh;
}
.audio-controls {
    text-align: center;
    height: 4vh;
}
#riga-slider .col-md-8, #riga-slider .col-md-2 {
    padding: 0;
}
.testo-riproduzione {
    display: inline-block;
    vertical-align: middle;
    font-size: calc(0.55rem + 1vw);
}
#badge-icona-notifica {
    color: white;
    background-color: rgba(255,138,0,1);
}
.active{
    color:#5CA5FF;
}
/*slider barra player*/
div.slider-handle.min-slider-handle.round{
    background-image: linear-gradient(to bottom, #ff0000 0, #ff8c02 100%);
}
div.slider-selection{
    background-image: linear-gradient(to bottom,#f9430c 0,#ff922b 100%);
}
#step-backward:hover,#play:hover,#pause:hover,#step-forward:hover,#random:hover,#repeat:hover,#volume:hover{
    color: #5CA5FF;
}
#contenitore-volume{
    background-color: rgba(0,0,0,0);
    border: 0;
    transform: translate(-45px,-20px)!important;
}
#contenitore-volume > .slider.slider-horizontal{
    width: 100%;
}
/*Proprietà immagine album*/
#album2{
    height: 35px;
    width: 35px;
}
#pause{
    display: none;
}


/*intestazione del Modal Profilo*/
#intestazione{
    text-align:center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43)
}
.modal-content{
    font-size: calc(0.7rem + 0.5vw);
}
.modal{
    padding-left: 0px;
}
#titolo-modal{
    color:black;
}
button.close {
    background-color: #ffffff00;
    box-shadow: 0 0;
}
.contenitore-icona-profilo{
    width: min-content;
    display:block ;
    margin:auto ;
}
#icona-profilo{
    font-size: 5rem;
}
.nomeUtente{
    text-align: center;
}
/* Proprietà form Profilo*/
input[type=text], select {
    width: 100%;
    border-bottom: 1px solid rgba(0,114,255,0.43);
    resize: vertical;
    outline-width: 0;
}
input[type=password], select {
    width: 100%;
    border-bottom: 1px solid rgba(0,114,255,0.43);
    resize: vertical;
    outline-width: 0;
}
input.invalid {
    border-color: red;
}
label {
    padding: 12px 0;
    display: inline-block;
}
.container {
    padding: 20px;
}
.col-25sx {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-25dx {
    padding-left:10px;
    float: left;
    width: 25%;
}
.col-50 {
    padding: 0 7px;
    float: left;
    width: 50%;
    margin-top: 6px;
}
.col-75{
    padding-left: 7px;
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.campi{
    font-size: calc(0.6rem + 0.5vw);
    text-align: center;
    color:black;
}
.campoMail{
    font-size: 2vh;
}
.pulsanteModifica{
    margin-top: 5px;
    height: 35px;
    width: 100%;
    line-height: 15px;
}
.pulsanteModifica:focus{
    box-shadow: 0 0;
}
#dataNascita{
    border-bottom: 1px solid rgba(0, 114, 255, 0.43);
    color: black;
    width: 100%;
    text-align: center;
}
/*Proprietà footer del Modal Profilo*/
.footerProfilo{
    display:none;
    margin:auto;
}


/*Proprietà modal modifica password*/
.modal-body{
    padding: 1rem 1rem 0 1rem;
}
.contenitore-icona-password{
    width: min-content;
    display:block ;
    margin:auto ;
}
#icona-lucchetto{
    font-size: 5rem;
}
#intestazionePass{
    text-align:center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43)
}
.contenitore-nota{
    text-align: center;
    width: 100%;
}
/*Proprietà form modifica Password*/
.testo{
    width: 100%;
}
.col-90{
    float: left;
    width: 90%;
}
.col-10{
    float: left;
    width: 10%;
    padding:0px;
}
.password{
    display: block;
}
.campiPass{
    color:black;
}
.iconaPassword{
    margin-top: 5px;
    width: 10px;
    font-size: 20px;
}
.iconaPassword:hover{
    cursor: pointer;
}
.labelPass{
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 10px 0 0;
}
/*proprietà footer modal modifica password*/
.salvaModifiche{
    font-size: calc(0.65rem + 0.5vw);
    border-radius: 4px;
    margin: auto;
}


/*Proprietà Modal Conferma Logout, Modal Conferma Rimozione Amico e Modal Conferma Rimozione Playlist*/
#intestazione-logout, #intestazione-rimAmico, #intestazione-rimPlaylist {
    background-color: #898989;
    text-align: center;
    padding: 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43);
}
#titolo-logout, #titolo-rimAmico, #titolo-rimPlaylist{
    margin: 0;
}
.contenitore-icona-logout, .contenitore-icona-rimAmico, .contenitore-icona-rimPlaylist {
    width: 19%;
    float: left;
    font-size: 8vh;
    box-sizing: border-box;
}
.container-question{
    text-align: center;
    width: 80%;
    float: left;
}
.question{
    font-size: calc(0.6rem + 0.5vw);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footerLogout, .footer-rimAmico, .footer-rimPlaylist {
    border-top:0;
    padding-top: 0;
}
.bottone-conferma-uscita, .bottone-conferma-rimAmico, .bottone-conferma-rimPlaylist{
    border-radius: 4px;
    padding: 0;
    font-size: calc(0.5rem + 0.5vw);
    width: 20%;
    height: 1.5rem;
    color: black;
}
.bottone-conferma-uscita:hover, .bottone-conferma-rimAmico:hover, .bottone-conferma-rimPlaylist:hover{
    font-size: calc(0.6rem + 0.5vw);
    color: white;
    background-color: rgba(0,114,255,0.43);
    font-weight: bold;
}


/*Proprietà Modal Aggiungi Amico*/
#modal-aggiungi-amico>.modal-dialog>.modal-content>.modal-body{
    padding:1rem;
}
#inserisci-nomeUtente{
    outline: none;
    font-size: 1.3rem;
    border: 0;
    border-bottom: 2px solid rgba(0, 114, 255, 0.43);
    line-height: 2em;
    background: transparent;
    color: #212529;
    width: 100%;
}
.container-input{
    float: left;
    width: 90%;
}
.container-icona-ricerca{
    line-height: 2em;
    font-size: 1.3rem;
    text-align: center;
    width: 10%;
    float: left;
}
.container-listaUtenti{
    display: none;
}
.listaUtenti{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.p_listaUtenti{
    margin: 1rem 0;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    clear: left;
}
.nomeUtente_da_aggiugere{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.cont-pulsante-aggiungi-utente{
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
    float: left;
    box-sizing: border-box;
}
.tab-ricerca-utente{
    box-sizing: border-box;
    overflow: hidden;
}
.pulsante-aggiungi-utente:hover{
    color:rgba(255,138,0,1);
    cursor: pointer;
}


/*Proprietà Modal Successo Modifica Password
 e Modal Successo Modifica Dati Account*/
#intestazione-successoModPass, #intestazione-successoModDatiAccount{
    background-color: #898989;
    text-align: center;
    padding: 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43);
}
#titolo-successoModPass, #titolo-successoModDatiAccount{
    margin: 0;
}
.contenitore-icona-successoModPass, .contenitore-icona-successoModDatiAccount {
    width: 20%;
    float: left;
    font-size: 8vh;
    box-sizing: border-box;
}
.container-message{
    text-align: center;
    width: 80%;
    float: left;
}
.message{
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footerSuccessoModPass, .footerSuccessoModDatiAccount {
    border-top:0px;
    padding-top: 0px;
}
.bottone-ok{
    outline: none;
    background-color: rgb(191, 193, 192);
    border: none;
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 14px;
    width: 20%;
    height: 1.5rem;
    color: black;
}
.bottone-ok:hover{
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: white;
    background-color: rgba(0,114,255,0.43);
    font-weight: bold;
}


/*Proprietà Modal Crea Playlist*/
.footerCreaPlaylist{
    border-top: 0px;
}
.bottone-crea-playlist{
    margin:auto;
    box-shadow: none!important;
}
.tab-nome-playlist{
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}
#inserisci-nomePlaylist{
    outline: none;
    font-size: calc(0.6rem + 0.5vw);
    border: 0;
    border-bottom: 2px solid rgba(0, 114, 255, 0.43);
    line-height: 2em;
    background: transparent;
    color: #212529;
    width: 100%;
    text-align: center;
}
.tab-nome-playlist>.container-input{
    float:none;
    margin:auto;
    width:60%;
}
.modal-header, .header{
    font-size: calc(0.8rem + 0.9vw);
}


/*Proprietà Modal Aggiungi A Playlist*/
.tab-agg-brano{
    padding-bottom: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}
.listaPlaylist{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.p_listaPlaylist{
    margin: 1rem 0;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    clear: left;
}
.nome_playlist{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.cont-pulsante-aggiungi-brano{
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
    float: left;
    box-sizing: border-box;
}
.pulsante-aggiungi-brano:hover{
    color:rgba(255,138,0,1);
    cursor: pointer;
}


@media only screen and (max-width: 768px) {

    .pulsanteA{
        font-size: 1.5vw;
    }
    .p_listaAmici{
        font-size:calc(0.4rem + 1vw);
    }
    #colonna-centrale {
        width: 100% !important;
    }

    #barra-ricerca{
        font-size:calc(0.55rem + 1vw);
    }

    #colonna-sinistra, #colonna-destra,#album2 {
        display: none;
    }

    #sezione-controlli-riproduzione {
        width: 100%;
        left: 0px;
    }
    .testo-riproduzione {
        display: inline-block;
        vertical-align: middle;
        font-size: calc(0.8rem + 1vw);
    }

    /*Gestione del ridimensionamento delle colonne principali di bootstrap */
    .col-md-1 {
        width: 8.3333%;
    }
    .col-md-2 {
        width: 16.6667%;
    }
    .col-md-3 {
        width: 25%;
        text-align: center;
    }
    .col-md-4 {
        width: 33.3333%;
    }
    .col-md-5 {
        width: 41.6667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.3333%;
    }
    .col-md-8 {
        width: 66.6667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.3333%;
    }
    .col-md-11 {
        width: 91.6667%;
    }
    .col-md-12 {
        width: 100%;
    }
    .hidden-md {
        display: none;
    }

    /*Proprietà pannello amici online mobile*/
    .icona-musica{
        padding: 0;
    }

    #pulsante-Logout{
        display: none;
    }

    /*gestione ridimensionamento dei pannelli */
    #pannello-Ricerca,#pannello-Amicizie-mobile,
    #pannello-Generi,#contenitore-genere
    ,#contenitore-ricerca,.sezioneCentrale,
    #pannello-Amicizie, #pannello-Playlist,
    #pannello-Album,#pannello-BraniRiproduzione{
        height: calc(100vh - 215px);
    }
    #contenitore-genere{
        height: calc(100vh - 275px);
    }

    /*Proprietà barra volume */
    #contenitore-volume > .slider.slider-horizontal{
        transform:  translate3d(1px, -1px, 0px);
        width: 70%;
    }


    /*Proprietà del Modal Profilo*/
    .campoMail{
        font-size: calc(0.6rem + 0.5vw);;
    }
    /*Proprietà del pulsante modifica del Modal Profilo*/
    .pulsanteModifica{
        font-size: calc(0.65rem + 0.5vw);
        padding: 0 5px;
        width: 90%;
    }
    .salvaModifiche{
        font-size: calc(0.65rem + 0.5vw);
    }
    /*Proprietà della colonna destra del Modal Profilo*/
    .col-25dx {
        padding-left:0;
        text-align: center;
    }

    /*Proprietà pannello Amicizie*/
    .intestazione-listaAmici{
        font-size: calc(0.6rem + 1vw);
    }
    .listaAmici{
        font-size: calc(0.4rem + 1vw);
        width: 100%;
    }
    #pulsante-aggiungiAmici {
        width: 35%;
        font-size: calc(0.4rem + 1vw);
    }

    /*Proprietà pannello ricerca*/
    .titolo-listaRicerca{
        padding-top: 10px;
        font-size: calc(1rem + 1vw);
        height: 50px;
    }
    .messaggio{
        font-size: calc(0.4rem + 1vw);
    }
    .coverBrano{
        width: 100%;
    }
    .contenitore-imgBrano{
        width: 25%;
        max-width: 160px;
    }
    .contenitore-imgBrano-interno {
        width: calc(6rem + 2vw);
    }
    .contenitore-imgBrano-esterno {
        width: 40%;
    }
    .contenitore-nomeCanzone-Artista {
        width: 50%;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    #contenitore-ricerca {
        overflow-x: hidden;
    }

    /*Proprietà dell'intestazione dei modal*/
    .modal-header, .header{
        font-size: calc(1rem + 1vw);
    }

    /*Proprietà Modal Conferma Logout, Modal Conferma Rimozione Amico e Modal Conferma Rimozione Playlist*/
    .question{
        font-size: calc(0.7rem + 0.5vw);
    }
    .bottone-conferma-uscita, .bottone-conferma-rimAmico, .bottone-conferma-rimPlaylist{
        font-size: calc(0.7rem + 0.5vw);
    }
    .bottone-conferma-uscita:hover, .bottone-conferma-rimAmico:hover, .bottone-conferma-rimPlaylist:hover{
        font-size: calc(0.75rem + 0.5vw);
    }

    /*Proprietà pannello Album e brani*/
    .nomeAlbum{
        font-size: calc(0.6rem + 1vw);
    }
    .li_listaAlbum{
        font-size: calc(0.6rem + 1vw);
    }
    .canzone-album{
        width: 30%;
    }
    .autore-album{
        width: 30%;
    }
    .canzone{
        width: 30%;
    }
    .autore{
        width: 30%;
    }

    /*Proprietà pannello Le mie playlist*/
    .nomePlaylist{
        font-size: calc(0.6rem + 1vw);
    }
    .li_listaPlaylist{
        font-size: calc(0.6rem + 1vw);
    }

    /*Proprietà player mobile*/
    #sezione-controlli-riproduzione > .row {
        font-size: calc(0.6rem + 1vw);
    }

}