body {
    font-family: Raleway, serif;
    overflow-x: hidden;
    width: 100%;
    line-height: 1.2;
}

body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}


button{
    background-color: rgb(191, 193, 192);
    color: #fef9ff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway, serif;
    cursor: pointer;
}

.input-group {
    padding-top: 1%;
}

button:hover{
    background-color: rgba(255,138,0,1);
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus {outline:0;}


.pulsanteA{
    background-color: #464B51;
    width: 100%;
    color: cornsilk;
    font-size: 1.2vw;
}

.pulsanteA:focus{
    box-shadow: 0 0;

}

#pulsante-Logout{
    width: 35%;
    overflow: hidden;
    float: right;
    background-color: transparent;


}
#pulsante-Logout:hover{

    background-color: rgba(0, 114, 255, 0.72);

}

#pulsante-aggiungiAmici{
    width: 100%;
    font-size: 0.8rem;
    margin-top: 1vh;
}
.elenco-amici{
    font-size:0.8rem;
}

#colonna-sinistra, #colonna-destra {
    display: none;
    padding-left: 0;
    padding-right: 0;
    width: 16.6667%;
    opacity: 0.80;
}


#colonna-sinistra{
    position: sticky;
    top: 0;
    left: 0;
    height: 75.8vh;
    background-color: #464B51;
    opacity: 0.70;
}

#colonna-destra {
    position: sticky;
    top: 0;
    right: 0;
    height: 75.8vh;
    background-color: #464B51;
}

.amici-online{
    height: 58vh;
    padding-right:8px;
    overflow-y: hidden;
}


/*proprietà lista Amici*/
.pallino{
    color: #03d838;
    font-size: 10px;
}
.p_listaAmici{
    margin-bottom: 16px;
    color:cornsilk;
    font-size:1.1vw;
    text-align: center;
    border-bottom: 1px solid rgba(0, 114, 255, 0.72);
}
.conteiner-listaAmici{
    padding-right: 5px;
    overflow-y: auto;
    max-height: 53vh;
}
ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Larghezza della scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Traccia della scrollbar */
::-webkit-scrollbar-track {
    background: #888;
}

/* Cursore della Scrollbar */
::-webkit-scrollbar-thumb {
    background: rgba(255,138,0,1);
}

.sta-ascoltando{
    display: block;
    top:30px;
    color: rgba(255,138,0,1);
    margin-bottom: 0.5rem;
}
.icona-musica{
    padding: 1.5% 2% 0% 0%;
}

#colonna-centrale {
    margin: auto;
    background-color: transparent;
    width: 66.6667%;
    z-index: 0;
}

#logo{
    ;
}
/*Controllo player*/
#sezione-controlli-riproduzione {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 1000;
    height: 15vh;

}


#sezione-controlli-riproduzione > .row{
    margin-left: 0;
    margin-right: 0;
}

#sezione-controlli-riproduzione > .row {
    position: relative;
    font-size: 100%;
    height: 100%;
}
#sezione-controlli-riproduzione {
    background-color:  rgba(0, 114, 255, 0.43);
    color: cornsilk;
    text-align: center;

}


#titolo-brano-in-riproduzione {

}

#titolo-brano-in-riproduzione > p:first-child {
    margin: 0;
    font-size: 2vh;
}



.audio-controls {
    text-align: center;
    height: 4vh;
}

#volume-range {
}


#riga-slider .col-md-8, #riga-slider .col-md-2 {
    padding: 0;

}


.testo-controlli-riproduzione {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.8;
    font-size: 3vh;
}
#badge-icona-notifica {
    color: white;
    background-color: rgba(255,138,0,1);
}


/*propità barra ricerca*/
.badge {
    display: none;
    font-size: 0.6em;
}
#barra-ricerca {
    border-radius: 0;
    border-color: transparent;

}

#barra-ricerca:focus {
    box-shadow: 0 0;
    border-color: #eaece5;
}

#barra-ricerca:focus {
    border: 0;
    border-bottom: 1px solid  #5CA5FF;
    outline:none;


}


input, #barra-ricerca {
    font-size: 3vh;
    border: 0;
    border-bottom: 2px solid  rgba(0, 114, 255, 0.43);
    line-height: 2em;
    background: transparent;
    color: cornsilk;
    width: 30vw;

}

/*propietà della riga all'interno della barra di ricerca */
#riga-principale{
    margin: auto;

}

#riga-principale > .col-md-12 > .input-group{
    padding-top: 1vh;
    height: 7vh;
}



.dropdown-item , #pulsante-cerca{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
/*proprietà pulsante cerca*/
#pulsante-cerca {
    background-color:#5CA5FF;
    border-radius: 0;
    border-color: transparent;
}

#pulsante-cerca:focus {
    box-shadow: 0 0;
    border-color: #5CA5FF;
}

#pulsante-cerca {
    margin-top: -0.5vh;
    background: transparent;
    color: rgba(0, 114, 255, 0.43);
    font-size: 3vh;
}

#pulsante-cerca:focus, #pulsante-cerca:hover {
    border: 0;
    color:#5CA5FF;
}


#pulsante-cerca:not(:focus) {
    border: 0;
}
/*slider barra player*/
div.slider-handle.min-slider-handle.round{
    background-image: linear-gradient(to bottom, #ff9019 0, #ff5c02 100%);
}



.navbar-expand-sm{
    height: 9.2vh;
}



div.slider-selection{
    background-image: linear-gradient(to bottom,#f3ad62 0,#f3b275 100%);
}



#step-backward:hover,#play:hover,#pause:hover,#step-forward:hover,#random:hover,#repeat:hover,#volume:hover{
   color: #5CA5FF;
}

#contenitore-volume{
    background-color: rgba(0,0,0,0);
    border: 0;

}
#contenitore-volume > .slider.slider-horizontal{
    transform: translate3d(3vw, 30px, 0px);
    width: 100%;
}

#prova{
    display: none;
    background-color: #aaaaaa;
    height: 78.8vh;

}
/*propietà tasti webplayer*/
#tasto-Rock:focus, #tasto-Pop:focus, #tasto-Classico:focus{
    color: cornsilk;
}

#tasto-Rock:hover, #tasto-Pop:hover, #tasto-Classico:hover{
    background-color: #5CA5FF;
}




/*contenitore Brani recenti*/
#pannello-BraniRecenti{
    display: none;
    height: 75.8vh;
}
/*contenitore Generi*/
#pannello-Generi{
    display: none;
    height: 75.8vh;
}
/*contenitore Amicizie*/
#pannello-Amicizie{
    overflow-y: auto;
    display: none;
    background-color: transparent;
    height: 75.8vh;
}
/*propietà immagine album*/
#album{
    width: 200px;
    margin: 4vh;
    height: 200px;

}
#album2{
    height: 35px;
    width: 35px;


}


p.paragrafo{
    font-size: 1.4vw;
    text-align: center ;
    margin-top: 3vh;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
}

.modal-content{
    font-size: 15px;
}
.modal{
    padding-left: 0px;
}

/*intestazione del Modal Profilo*/
#intestazione{
    text-align:center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43)
}
#titolo-modal{
    color:black;

}
button.close {
    background-color: #ffffff00;
    box-shadow: 0 0;
}

.contenitore-icona-profilo{
    width: min-content;
    display:block ;
    margin:auto ;
}

#icona-profilo{
    font-size: 10vh;
}

.nomeUtente{
    text-align: center;
}


/* Proprietà form Profilo*/
input[type=text], select {
    width: 100%;
    border-bottom: 1px solid rgba(0,114,255,0.43);
    resize: vertical;
    outline-width: 0;
}
input[type=password], select {
    width: 100%;
    border-bottom: 1px solid rgba(0,114,255,0.43);
    resize: vertical;
    outline-width: 0;
}

label {
    padding: 12px 0;
    display: inline-block;
}

.container {
    padding: 20px;
}

.col-25sx {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-25dx {
    padding-left:10px;
    float: left;
    width: 25%;
}

.col-50 {
    padding: 0 7px;
    float: left;
    width: 50%;
    margin-top: 6px;
}
.col-75{
    padding-left: 7px;
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.campi{
    font-size: 2.1vh;
    text-align: center;
    color:black;
}
.campoMail{
    font-size: 2vh;
}
.pulsanteModifica{
    margin-top: 5px;
    height: 35px;
    width: 100%;
    line-height: 15px;
}

.pulsanteModifica:focus{
    box-shadow: 0 0;
}



#dataNascita{
    border-bottom: 1px solid rgba(0, 114, 255, 0.43);
    color: black;
    width: 100%;
    text-align: center;
}


/*propietà tabella */
.table thead th {
    border-top:0;
    border-bottom-color: #5CA5FF;
}

.table thead td, .table th, .table td{
    border-bottom-color: #5CA5FF;
    border-top-color: #5CA5FF;
}

table .th{
    color: cornsilk;
}
table{
    color: cornsilk;
}

/*Proprietà footer del Modal Profilo*/
.footerProfilo{
    display:none;
    margin:auto;
}





@media only screen and (max-width: 768px) {

    .hidden-md {
        display: none;
    }
    .pulsanteA{
        font-size: 1.5vw;
    }
    .p_listaAmici{
        font-size:1.4vw;
    }
    #colonna-centrale {
        width: 100% !important;

    }

    #colonna-sinistra, #colonna-destra,#album2 {
        display: none;
    }

    #sezione-controlli-riproduzione {
        width: 100%;
        left: 0px;
    }

    #sezione-controlli-riproduzione > .row > .col-md-12 {
        margin-bottom: 1.5%;
    }

    .col-md-1 {
        width: 8.3333%;
    }

    .col-md-2 {
        width: 16.6667%;
    }

    .col-md-3 {
        width: 25%;
        text-align: center;
    }
    .col-md-4 {
        width: 33.3333%;
    }

    .col-md-5 {
        width: 41.6667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.3333%;
    }

    .col-md-8 {
        width: 66.6667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.3333%;
    }

    .col-md-11 {
        width: 91.6667%;
    }

    .col-md-12 {
        width: 100%;
    }

    #pulsante-Logout{
        display: none;
    }
    #riga-principale{
        margin-right: 0px!important;
        width: 60vw;
    }

    #pulsante-aggiungiAmici {
        width: 100%;
        font-size: 0.5rem;
    }
    #pannello-Amicizie{
        height: 68.5vh;
    }
    #pannello-Playlist{
        height: 68.5vh!important;
    }
    #contenitore-volume > .slider.slider-horizontal{
       transform:  translate3d(1px, -1px, 0px);
        width: 70%;

    }

    /*Proprietà del pulsante modifica del Modal Profilo*/
    .pulsanteModifica{
        font-size: 2vh;
    }
    /*Proprietà della colonna destra del Modal Profilo*/
    .col-25dx {
        padding-left:0;
    }


}

/*Proprietà modal modifica password*/
.modal-body{
    padding: 1rem 1rem 0 1rem;
}
.contenitore-icona-password{
    width: min-content;
    display:block ;
    margin:auto ;
}
#icona-lucchetto{
    font-size: 10vw;
}
#intestazionePass{
    text-align:center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43)
}
.contenitore-nota{
    text-align: center;
    width: 100%;
}


/*Proprietà form modifica Password*/
.testo{
    width: 100%;
}
.col-90{
    float: left;
    width: 90%;
}
.col-10{
    float: left;
    width: 10%;
    padding:0px;
}
.password{
    display: block;
}
.campiPass{
    color:black;
}
.iconaPassword{
    margin-top: 5px;
    width: 10px;
    font-size: 20px;
}
.iconaPassword:hover{
    cursor: pointer;
}
.labelPass{
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 10px 0 0;
}

/*proprietà footer modal modifica password*/
.salvaModifiche{
    border-radius: 4px;
    margin: auto;
}

/*Proprietà Modal Conferma Logout*/
#intestazione-logout{
    background-color: #898989;
    text-align: center;
    padding: 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43);
}
#titolo-logout{
    margin: 0;
}
.contenitore-icona-logout {
    width: 20%;
    float: left;
    font-size: 8vh;
    box-sizing: border-box;
}
.container-question{
    text-align: center;
    width: 80%;
    float: left;
}
.question{
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footerLogout {
    border-top:0px;
    padding-top: 0px;
}
.bottone-conferma-uscita{
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 0.8rem;
    width: 20%;
    height: 1.5rem;
    color: black;
}
.bottone-conferma-uscita:hover{
    font-size: 15px;
    color: white;
    background-color: rgba(0,114,255,0.43);
    font-weight: bold;
}


/*Propità menù orizzontale */
#menu-orizzontale{
    display: none;
    padding: 0;
    height: 7.3vh;
}
.pulsante-menu-orizzontale{
    background-color: transparent;
    width: auto;
    color: cornsilk;
    font-size: 3vh;
}
.pulsante-menu-orizzontale:focus {
    box-shadow: 0 0;
}

#profilo:hover, #gest-amicizie:hover, #amici-online:hover, #altro:hover {
    background-color: transparent;
    box-shadow: 0 0;
    color: #5CA5FF;
}


/*Propietà pannelo-amicizie-mobile*/
#pannello-Amicizie-mobile{
    overflow: auto;
    height: 68.5vh;
    display: none;
    width: 100%;
}
.demo-mobile{
    max-height: 70vh;

}




.demo-mobile>.p_listaAmici{
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    clear:left;
}
.demo-mobile>.p_listaAmici>.nomeUtente_online{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.demo-mobile>.p_listaAmici>.branoAscoltato{
    width: 50%;
    float: left;
    box-sizing: border-box;
}


#pannello-Amicizie-mobile >.row >.col-md-12 >.demo.demo-mobile{
    height: 59vh;
}

.col-sx-sec{
    text-align: right;
}
.col-dx-sec{
 text-align: left;
}




/*propietà pannello-mobile*/
#pannello-mobile{
    position: absolute;
    right: 0;
    width: 25%;
    height: 68.5vh;
    background-color: rgb(11, 55, 116);
    display: none;
    z-index:1;

}

/*propietà bottoni pannello-mobile*/
.btn-mobile{
    width: 100%;
    color: cornsilk;
    font-size: 2vw;
    background: #0b3774;
    text-align: center;


}

/*Proprietà Modal Aggiungi Amico*/
#modal-aggiungi-amico>.modal-dialog>.modal-content>.modal-body{
    padding:1rem;
}
#inserisci-nomeUtente{
    outline: none;
    font-size: 1.3rem;
    border: 0;
    border-bottom: 2px solid rgba(0, 114, 255, 0.43);
    line-height: 2em;
    background: transparent;
    color: #212529;
    width: 100%;
}
.container-input{
    float: left;
    width: 90%;
}
.container-icona-ricerca{
    line-height: 2em;
    font-size: 1.3rem;
    text-align: center;
    width: 10%;
    float: left;
}
.container-listaUtenti{
    display: none;
}
.listaUtenti{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.p_listaUtenti{
    margin: 1rem 0;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    clear: left;
}
.nomeUtente_da_aggiugere{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.cont-pulsante-aggiungi-utente{
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
    float: left;
    box-sizing: border-box;
}
.tab-ricerca-utente{
    box-sizing: border-box;
    overflow: hidden;
}
.pulsante-aggiungi-utente:hover{
    color:rgba(255,138,0,1);
    cursor: pointer;
}


/*propieta pannnelo-playlist*/
#pannello-Playlist{
    display: none;
    height: 75.8vh;
    overflow-y: auto;
}
#contenitore-canzoni-playlist{
    height: 50%;
    overflow-y: auto;
}

.demo-playlist{
    height: 70vh;
}

.btn-conzoni-playlist{
    background: transparent;


}
.btn-playlist{
    float: right;
}
.canzone{
    width: 40%;
    float: left;
    box-sizing: border-box;
}
.autore{
    width: 30%;
    float: left;
    box-sizing: border-box;
}

/*propità flex box*/
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50%;
    overflow-y: auto;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(4) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(5) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(6) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(7) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(8) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.flex-item{
    margin-top: 1vh;
    margin-left: 1vw;
}


.flex-item-img{
    height: 150px;
    width: 150px;
    display: block;
}

.flex-item-img:hover{
    opacity: 0.3;
}

.icona-playlist{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.icona-aggiungi-playlist{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.icon{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}
.overly{
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0;
    background-color: transparent;

    transform: translateY(-100%);
}
.flex-item:nth-child(1):not(:hover) .flex-item-conteiner {
    opacity: 0.7;
}
.flex-item:nth-child(2):hover .overly {
    opacity: 0.3;
}
.flex-item:nth-child(3):not(:hover) .flex-item-conteiner {
    opacity: 0.7;
}
fa-paly:hover {
    color: transparent;
}

.flex-item-conteiner{
    border-radius: 15%;
    height: 150px;
    width: 150px;
    display: block;
    background-color: rgba(65, 69, 74, 0.53);
}

.flex-item-conteiner-icon{
    font-size: 0px;
    position: relative;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgba(255,138,0,1);
    transform: translate(25%, 25%);
}
.li_listaPlaylist{
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    clear:left;
}
.ordine-playlist{
    width: 10%;
    float: left;
    box-sizing: border-box;
}
.p_playList{
    color: cornsilk;
    margin-top: 15px;
}
#pause{
    display: none;
}

#labelDurataTotaleBrano{
    transform: translateY(-1vh);
}
#labelSecondoAttual{
    transform: translateY(-1vh);
}