* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

div.intestazione {
    width: 100%;
}

div.logo{
    width: 30%;
    min-width: 180px;
}

.logo img{
    margin-top: 2vw;
    margin-bottom: 1vw;
    display: block;
    margin-left: 1vw;
    margin-right: auto;
    width: 100%
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin: 11px auto;
    width: 100%;
    font-size: 17px;
    font-family: Raleway, serif;
    border: 1px solid #aaaaaa;
    border-width: 0 0 2px;
    background-color: #ffffff;
}

select select {
    display: none;

}

#regForm {
    background-color: #ffffff;
    margin: 30px auto;
    font-family: Raleway, serif;
    padding: 40px;
    width: 75%;
    min-width: 200px;
}

h1 {
    text-align: center;
}

p.invalid {
    color: red;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway, serif;
    border: 1px solid #aaaaaa;
    border-width: 0 0 2px;
}

input:focus, select:focus {
    outline-width: 0;
    border-color: rgba(255,148,24,1);
}

input.invalid {
    border-color: red;
    color:red;

}

.container {
    width: 8vw;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: rgba(255,148,24,0.9);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.tab {
    display: none;
}

button {
    background-color: rgba(255,148,24,1);
    color: #fef9ff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway, serif;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: rgba(255,138,0,1);
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:focus {outline:0;}

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: rgba(255,148,24,0.9);
}


@media only screen and (max-width: 700px) {
    h1{
        font-size: 7vw;
    }

    div.tab{
        font-size: 4vw;
    }
    input{
        font-size: 3vw;
    }
    button{
        font-size: 3vw;
        width: 20vw;
        padding-left: 2.5vw;
    }

    .container{
        font-size: 3vw;
    }
}