body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
}

a:link {
  color: rgba(255,148,24,0.9);
}

a:visited {
  color: rgba(255,148,24,0.9);;
}

a:hover {
  color: rgba(255,97,0,0.9);
}

h1.home {
  float:left;
  text-align: center;
  color: cornsilk;
}

div.empty{
  text-align: center;
  padding: 80px;
  /*line-height: 200px;
  height: 200px;*/
  max-width: 100%;

}

div.description{
  max-width: 60%;
  float: left;
  padding:70px 0;

}

h1.title {
  text-align: center;
  width: border-box;
  color: cornsilk;

}

h1.register {
  text-align: center;
  width: border-box;
  color: cornsilk;

}


 input[type=text], select {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: rgba(255,148,24,0.9);
  color: cornsilk;
  padding: 14px 20px;
  margin:10px 33%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(255,138,0,0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  width: 30%;
  background-color: rgba(255,148,24,0.9);
  color: cornsilk;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255,138,0,0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.home {
  border-radius: 5px;
  background-color: #f2f2f2;
  opacity: 0.87;
  padding: 20px;
  font-size: 16px;
  width: auto;
  float: right;
}

div.register{
  width: 35%;
  margin:auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 16px;
  align-items: center;



}