body {
  padding: 50px;
  font: 1vw "Raleway", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  padding: 0px;
  font: 1vw "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat:repeat-x;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

a:link {
  color: rgba(255,148,24,1);
}

a:visited {
  color: rgba(255,148,24,1);;
}

a:hover {
  color: rgba(255,110,0,1);
}

h1.home {
  float:left;
  text-align: center;
  color: cornsilk;
}

  div.empty {
  text-align: center;
  padding: 80px;
  /*line-height: 200px;
  height: 200px;*/
  max-width: 100%;

}

div.description {
  max-width: 60%;
  float: left;
  padding:30px 0;

}

h1.title {
  text-align: center;
  width: border-box;
  color: cornsilk;

}

h1.register {
  text-align: center;
  width: border-box;
  color: cornsilk;

}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Raleway";
}

input[type=submit] {
  width: 30%;
  background-color: rgba(255,148,24,0.9);
  color: cornsilk;
  padding: 14px 20px;
  margin:10px 33%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family:"Raleway";
}

input[type=submit]:hover {
  background-color: rgba(255,138,0,0.9);
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #c3c3c3;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #d2d2d2;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgba(255,148,24,1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3.5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.home {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 16px;
  width: auto;
  float: right;
}

div.register{
  width: 35%;
  margin:auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 16px;
  align-items: center;
}

@media only screen and (max-width: 1200px) {

  div.description {
    width: 100%;
  }

  div.home{

  /*float:none;*/
    width: auto;
    /*position: absolute;*/
    margin: auto;

  }

}