body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

h1.home {
  float:left;
  text-align: center;
  color: cornsilk;

}
h1.register {

  text-align: center;
  width: border-box;
  color: cornsilk;

}


 input[type=text], select {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgba(255,148,24,0.9);
  color: cornsilk;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(255,138,0,0.9);
}

button {
  width: 100%;
  background-color: rgba(255,148,24,0.9);
  color: cornsilk;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255,138,0,0.9);
}

div.home {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 16px;
  width: auto;
  float: right;
}

div.register{
  width: auto;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 16px;



}