body {
    font-family: Raleway;
    overflow-x: hidden;
    width: 100%;
}

body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}


button{
    background-color: rgb(191, 193, 192);
    color: #fef9ff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway, serif;
    cursor: pointer;
}

.input-group {
    padding-top: 1%;
}

button:hover{
    background-color: rgba(255,138,0,1);
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus {outline:0;}


.pulsanteA{
    background-color: #464B51;
    width: 100%;
    color: cornsilk;
}

.pulsanteA:focus{
    box-shadow: 0 0;

}
#pulsante-aggiungiAmici{
    width: 70%;
    margin-top: 1vh;
    margin-left: 50vw;
}
#colonna-sinistra, #colonna-destra {
    padding-left: 0;
    padding-right: 0;
    width: 16.6667%;
    opacity: 0.80;
}


#colonna-sinistra{
    position: sticky;
    top: 0;
    left: 0;
    height: 80.3vh;
    background-color: #464B51;
    opacity: 0.70;
}

#colonna-destra {
    position: sticky;
    top: 0;
    right: 0;
    height: 80.3vh;
    background-color: #464B51;
}

#colonna-centrale {
    margin: auto;
    background-color: transparent;
    width: 66.6667%;
}

#logo{
    ;
}
/*Controllo player*/
#sezione-controlli-riproduzione {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left:0%;
    z-index: 1000;

}


#sezione-controlli-riproduzione > .row{
    margin-left: 0;
    margin-right: 0;
}

#sezione-controlli-riproduzione > .row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 120%;
}
#sezione-controlli-riproduzione {
    background-color:  rgba(0, 114, 255, 0.43);
    color: cornsilk;
    text-align: center;

}


#titolo-brano-in-riproduzione {
    display: none;
}

#titolo-brano-in-riproduzione > p:first-child {
    margin: 0;
}



.audio-controls {
    text-align: center;
}

#volume-range {
}


#riga-slider .col-md-8, #riga-slider .col-md-2 {
    padding: 0;

}


.testo-controlli-riproduzione {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
#badge-icona-notifica {
    color: white;
    background-color: rgba(255,138,0,1);
}


/*propità barra ricerca*/
.badge {
    display: none;
    font-size: 0.6em;
}
#barra-ricerca {
    border-radius: 0;
    border-color: transparent;

}

#barra-ricerca:focus {
    box-shadow: 0 0;
    border-color: #eaece5;
}

#barra-ricerca:focus {
    border: 0;
    border-bottom: 1px solid  #5CA5FF;
    outline:none;


}


input, #barra-ricerca {
    border: 0;
    border-bottom: 2px solid  rgba(0, 114, 255, 0.43);
    line-height: 2em;
    background: transparent;
    color: cornsilk;
    width: 30vw;

}



.dropdown-item , #pulsante-cerca{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
/*proprietà pulsante cerca*/
#pulsante-cerca {
    background-color:#5CA5FF;
    border-radius: 0;
    border-color: transparent;
}

#pulsante-cerca:focus {
    box-shadow: 0 0;
    border-color: #5CA5FF;
}

#pulsante-cerca {
    background: transparent;
    color: rgba(0, 114, 255, 0.43);
}

#pulsante-cerca:focus, #pulsante-cerca:hover {
    border: 0;
    color:#5CA5FF;
}


#pulsante-cerca:not(:focus) {
    border: 0;
}
/*slider barra player*/
div.slider-handle.min-slider-handle.round{
    background-image: linear-gradient(to bottom, #ff9019 0, #ff5c02 100%);
}



.navbar-expand-sm{
    height: 9.2vh;
}



div.slider-selection{
    background-image: linear-gradient(to bottom,#f3ad62 0,#f3b275 100%);
}



#step-backward:hover,#play:hover,#step-forward:hover,#random:hover,#repeat:hover,#volume:hover{
   color: #5CA5FF;
}
#contenitore-volume{
    background-color: rgba(0,0,0,0);
    border: 0px
}
#prova{
    display: none;
    background-color: #aaaaaa;
    height: 80.3vh;

}
/*propietà tasti webplayer*/
#tasto-Rock:focus, #tasto-Pop:focus, #tasto-Classico:focus{
    color: cornsilk;
}

#tasto-Rock:hover, #tasto-Pop:hover, #tasto-Classico:hover{
    background-color: #5CA5FF;
}
/*contenitore canzoni*/
#PannelloCanzoni{
    display: none;
    height: 80.3vh;
}
/*propietà immagine album*/
#album{
    width: 60vw;
    margin: 4vh;

}
#PannelloAmicizie{
    display: none;
    background-color: #d1d1d173;
    height: 80.3vh;
}

p.paragrafo{
    text-align: center ;
    margin-top: 5vh;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255,138,0,1);
    color: cornsilk;
}

.modal-content{
    font-size: 15px;
}
.modal{
    padding-left: 0px;
}

/*intestazione del Modal Profilo*/
#intestazione{
    text-align:center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43)
}
#titolo-modal{
    color:black;

}
button.close {
    background-color: #ffffff00;
    box-shadow: 0 0;
}

.contenitore-icona-profilo{
    width: min-content;
    display:block ;
    margin:auto ;
}

#icona-profilo{
    font-size: 10vw;
}

.nomeUtente{
    text-align: center;
}


/* Proprietà form Profilo*/
input[type=text], select {
    width: 90%;
    border-bottom: 1px solid rgba(0,114,255,0.43);
    resize: vertical;
    outline-width: 0;
}
input[type=password], select {
    width: 90%;
    border-bottom: 1px solid rgba(0,114,255,0.43);
    resize: vertical;
    outline-width: 0;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    padding: 20px;
}

.col-25sx {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.campi{
    text-align: center;
    color:black;
}
.campoMail{
    font-size: 13px;
}
.pulsanteModifica{
    margin-top: 5px;
    height: 35px;
    width: 90px;
    line-height: 15px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*Proprietà modal modifica password*/
.modal-body{
    padding: 1rem 1rem 0 1rem;
}
.contenitore-icona-password{
    width: min-content;
    display:block ;
    margin:auto ;
}
#icona-lucchetto{
    font-size: 10vw;
}
#intestazionePass{
    text-align:center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid rgba(0,114,255,0.43)
}
.contenitore-nota{
    width: 100%;
}


/*Proprietà form modifica Password*/
.testo{
    width: 100%;
}
.col-90{
    float: left;
    width: 90%;
}
.col-10{
    float: left;
    width: 10%;
    padding:0px;
}
.password{
    display: block;
}
.campiPass{
    color:black;
}
.fa-eye{
    margin-top: 5px;
    width: 10px;
    font-size: 20px;
}
.fa-eye:hover{
    cursor: pointer;
}
.labelPass{
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 10px 0 0;
}

/*proprietà footer modal modifica password*/
.salvaModifiche{
    border-radius: 4px;
    margin: auto;
}
/*
.modal-dialog {
    position: absolute;
    top: 50px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}
*/

